# Python生成的文件
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# 其他文件
*.log
*.sqlite3
.python-version
*test*
fix_*
*.pyc
openapi.json
.gitignore
.cursorrules
.env

# 虚拟环境
.venv

# vscode、 github配置
.idea/
.ruff_cache/
.mypy_cache/
examples/
logs/
.vscode/
.github/
tests/
.cursor/
prototype/