# base
fastapi[standard]
uvicorn[standard]
tortoise-orm
pydantic
pydantic-settings
aerich

# log
loguru

# database
asyncpg

# cache
redis[hiredis]

# network automation
scrapli[asyncssh]
scrapli-cfg
scrapli-community
nornir
nornir-scrapli
ntc-templates

# snmp monitoring
pysnmp-lextudio
pysnmp-mibs

# websocket & async
websockets
asyncio
